@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$primary: #80197D;
$body-color: #B0CEFB;
$body-bg: #000000;

$font-size-base: 27px;
$font-weight-base: 300;
$font-family-base: 'Roboto', sans-serif;

$nav-link-color: #ffffff;

$navbar-brand-font-size: 27px;
$navbar-dark-color: #ffffff;
$navbar-nav-link-padding-x: 3rem;

$header-bg: #001122;

@import "bootstrap";

.btn-primary {
    background-color: $primary;
    border: none;

    &:hover {
        background-color: darken($primary, 10%);
    }
}

.btn-large {
    font-size: 27px;
    font-weight: 300;
    padding: 0.65rem 2.2rem;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    background-color: $body-bg;
}

header {
    background-color: $header-bg;

    .logo {
        height: 3.5rem;
        filter: invert(100%);
        opacity: 0.77;
    }

    .nav-link {
        font-weight: 100;

        &.active {
            font-weight: 500;
            opacity: 0.8;
        }
    }

    .contact {
        border: 1px solid $primary;
        border-radius: 1rem;
        margin-left: 1rem;

        &:hover {
            background-color: $primary;
        }
    }
}

main {
    padding: 4rem 0;
    background: linear-gradient(180deg, rgba(13, 15, 18, 1) 0%, rgba(0, 0, 0, 1) 100%);
}

article {
    max-width: 48rem;

    p {
        line-height: 1.35;
    }

    a {
        color: #ffffff;
        text-decoration: none;

        &:hover {
            color: #ccc;
            border-color: darken($primary, 10%);
        }
    }

    h2 {
        font-size: 33px;
        font-weight: 300;
        margin-bottom: 1rem;
        color: #ffffff;
        border-bottom: 3px solid $primary;
        display: inline-block;

        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    h3 {
        font-size: 30px;
        font-weight: 300;
        margin: 1.5rem 0 0.5rem 0;
        color: #ffffff;
    }
}

footer {
    font-size: 18px;

    .logo-container {
        padding: 12rem 0;
    }

    .logo {
        height: 3rem;
        filter: invert(100%);
        opacity: 0.77;
    }

    .nav-item {
        font-size: 14px;
    }
}

#home-hero {
    padding: 10rem 0;
    background-image: url('/images/hero-back.webp');
    background-size: cover;
    background-position: center top;
    min-height: calc(100vh - 10rem);

    h1 {
        color: #ffffff;
        opacity: 0.85;
        font-weight: 500;
        font-size: 100px;
        max-width: 930px;
        line-height: 1.6;
        margin-bottom: 8rem;

        span {
            font-weight: 900;
            border-bottom: 4px solid $primary;
        }
    }
}

#page-header {
    padding: 5rem 0;
    background: linear-gradient(180deg, rgba(0, 17, 34, 1) 0%, rgba(0, 9, 18, 1) 100%);

    h1 {
        font-size: 100px;
        color: #ffffff;
        opacity: 0.85;
        font-weight: 500;
    }
}