@import url("https://fonts.googleapis.com/css?family=Raleway:400,600");

$body-bg: #ffffff;
$body-color: #242424;
$dark-color: #11181f;
$dark-contrast-color: #0f3f9c;
$muted-color: #dfdfdf;

$break-small: 750px;

body {
  background-color: $body-bg;
  color: $body-color;
  font-size: 1.3rem;
  line-height: 1.7;
  font-weight: 400;
  font-family: Raleway, sans-serif;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 600;
}
dfn {
  font-style: normal;
  cursor: default;
}

header {
  background-color: #f4f5fb;
  box-shadow: 1px -3px 5px 1px rgba(0, 0, 0, 0.5);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  h1,
  h2 {
    font-weight: 400;
  }
  h1 {
    order: 2;
    font-size: 6vw;
  }
  h2 {
    order: 1;
    font-size: 3vw;
    color: $dark-color;
  }
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

main {
  padding-top: 2rem;
  h3 {
    font-weight: 600;
    font-size: 1.9rem;
  }
  h4 {
    font-size: 1.6rem;
    color: $dark-contrast-color;
  }

  section {
    & > div {
      padding: 2rem;
      max-width: 40rem;
      margin: auto;
    }
  }
}

footer {
  display: flex;
  padding: 4rem;
  @media screen and (max-width: $break-small) {
    padding: 3rem;
    display: block;
  }

  justify-content: space-between;
  background-color: #1e2127;
  color: #dfdfdf;
  font-size: 1rem;

  & > div:first-child {
    display: flex;
    flex-basis: 200%;
    @media screen and (max-width: $break-small) {
      margin-bottom: 3rem;
    }
  }

  img {
    filter: invert(100%);
    height: 5rem;
    margin-right: 2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #dfdfdf;
  }
}

p {
  margin: 0 0 1.5rem 0;
  &:last-child {
    margin-bottom: 0;
  }
}

.separator {
  color: $muted-color;
  text-align: center;
  font-size: 3rem;
  padding-top: 0;
  padding-bottom: 2rem;
}

.point {
  width: 90%;
  display: table;
  margin-bottom: 2rem;
  &:last-child {
    margin-bottom: 0;
  }
  span {
    color: black;
    width: 2.5rem;
    display: table-cell;
  }
  p {
    text-align: justify;
  }
}

.aaron:hover {
  cursor: help;
}
.aaron:hover:after {
  content: "";
  background-image: url("/aaron.png");
  background-size: 5rem 5rem;
  position: absolute;
  height: 5rem;
  width: 5rem;
  margin-top: -5rem;
}

#scroll-down {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  font-size: 3rem;
  animation: pulse 2.5s infinite;
  animation-timing-function: ease-in-out;
}

#intro {
  margin-top: 1rem;
}
#process,
#best-practices {
  position: relative;
}
#process:after {
  content: "⁜";
  position: absolute;
  right: 3%;
  bottom: 0;
  font-size: 20rem;
  @media screen and (max-width: $break-small) {
    font-size: 10rem;
  }
  line-height: 1;
  color: black;
  opacity: 0.05;
}
#best-practices:after {
  content: "🏆";
  position: absolute;
  left: 3%;
  bottom: 0;
  font-size: 20rem;
  @media screen and (max-width: $break-small) {
    font-size: 8rem;
    left: 1%;
  }
  line-height: 1;
  color: black;
  opacity: 0.05;
}
#best-practices {
  margin-bottom: 3rem;
}

#get-started {
  background-color: #f7f9fc;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

#cta {
  color: #0f3f9c;
  &:hover {
    color: lighten(#0f3f9c, 20);
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
